<div style="min-height: <%=Dom.height%>px; overflow-x: hidden; position: relative;"><img id="scale" style="
        position: absolute;
        transform: rotate(90deg);
        transform-origin: <%=Dom.halfWidth%>px <%=Dom.halfWidth%>px;
        -webkit-transform: rotate(90deg);
        -webkit-transform-origin: <%=Dom.halfWidth%>px <%=Dom.halfWidth%>px;
        max-height: <%=Dom.width%>px
    " src="<%=item.imgHybrid || item.img%>"></div>
<!--
<div style="
position: absolute;
  font-size: 50px;
  top: <%=Math.floor(Dom.height / 2) - 25%>px;
  width: 100%;
  padding: 5px;
">
    <span class="ion-android-arrow-dropleft-circle"></span>
    <span class="ion-android-arrow-dropright-circle" style="float: right"></span>
</div>-->
