<!--<div style="background-image: url(<%=(item.imgHybrid || item.img)%>);
            min-height: <%=Dom.width%>px;
            transform: rotate(90deg);
            background-repeat: no-repeat;
      background-position: center;
      background-size: auto 100%;">
</div>-->
<!--        <div  style="
            min-height: <%=Dom.width%>px;
            transform: rotate(90deg) translate3d(137px, 137px, 0);">
            <img src="<%=(item.imgHybrid || item.img)%>">
        </div>-->


<img src="<%=(item.imgHybrid || item.img)%>">
