<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cafecbaskh" version="0.5.3" versionCode="0.5.3" xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Меню Шапо Ба</name>
    <description>

    </description>
    <author email="me@alinaloi.com">
        Alina Loi
    </author>
    <feature name="http://api.phonegap.com/1.0/device"/>
    <preference name="permissions" value="android.permission.ACCESS_COARSE_LOCATION"/>

    <preference name="target-device" value="universal"/>
    <preference name="fullscreen" value="false"/>
    <preference name="webviewbounce" value="true"/>
    <preference name="prerendered-icon" value="true"/>
    <preference name="stay-in-webview" value="false"/>
    <preference name="ios-statusbarstyle" value="black-opaque"/>
    <preference name="detect-data-types" value="true"/>
    <preference name="exit-on-suspend" value="false"/>
    <preference name="show-splash-screen-spinner" value="true"/>
    <preference name="auto-hide-splash-screen" value="true"/>
    <preference name="disable-cursor" value="false"/>
    <preference name="android-minSdkVersion" value="7"/>
    <preference name="android-installLocation" value="auto"/>
    <preference name="Orientation" value="portrait" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarStyle" value="default" />

    <icon src="res/icon.png" width="72" height="72" />

    <gap:plugin name="org.apache.cordova.file"/>
    <gap:plugin name="org.apache.cordova.file-transfer"/>
    <gap:plugin name="org.apache.cordova.device"/>
    <gap:plugin name="org.apache.cordova.inappbrowser"/>
    <gap:plugin name="org.apache.cordova.statusbar" />

    <access origin="tel:*" launch-external="yes" />

    <access origin="*"/>
    <content src="index.html"/>
</widget>