<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cafeinterkaz" version="1.1.0" versionCode="1.1.0" xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Interkaz мобильная визитница Астаны</name>
    <description>

    </description>
    <author email="me@alinaloi.com">
        Alina Loi
    </author>

    <feature name="http://api.phonegap.com/1.0/device"/>
    <preference name="permissions" value="android.permission.ACCESS_COARSE_LOCATION"/>

    <preference name="target-device" value="universal"/>
    <preference name="fullscreen" value="false"/>
    <preference name="webviewbounce" value="true"/>
    <preference name="prerendered-icon" value="true"/>
    <preference name="stay-in-webview" value="false"/>
    <preference name="ios-statusbarstyle" value="black-opaque"/>
    <preference name="detect-data-types" value="true"/>
    <preference name="exit-on-suspend" value="false"/>
    <preference name="show-splash-screen-spinner" value="true"/>
    <preference name="auto-hide-splash-screen" value="true"/>
    <preference name="disable-cursor" value="false"/>
    <preference name="android-installLocation" value="auto"/>
    <preference name="Orientation" value="portrait" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarStyle" value="default" />

    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <preference name="iosPersistentFileLocation" value="Compatibility" />


    <gap:plugin name="cordova-plugin-file"/>
    <gap:plugin name="cordova-plugin-file-transfer"/>
    <gap:plugin name="org.apache.cordova.device"/>
    <gap:plugin name="org.apache.cordova.inappbrowser"/>
    <gap:plugin name="org.apache.cordova.statusbar" />
    <gap:plugin name="cordova-plugin-whitelist" />

    <access origin="tel:*" launch-external="yes" />
    <access origin="mailto:*" launch-external="yes"/>
    <allow-navigation href="*"/>
    <access origin="*"/>
    <content src="index.html"/>
</widget>